<% if ! @tasks.empty? %>
  <% @tasks.each do |task| %>
  
      <% 
        if task.completed 
          checked = "checked"
        else 
          checked = ""
        end
      %>

      <li class="list-group-item d-flex justify-content-between align-items-center task-list">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" name="task-check" <%= checked %> class="custom-control-input" id="<%= task.id %>">
          <label class="custom-control-label pointer" for="<%= task.id %>"><%= task.name %></label>
          <small class="text-muted"><i>~ <%= task.due %></i></small>
          <small class="text-danger delete-link">
            <%= link_to 'DELETE', destroy_path(task.id), method: :delete, data: { confirm: 'Are you sure you want to delete this task?' }, class: "text-danger" %>
          </small>
        </div>
                                          
        <span class="badge badge-<%= task_priority('badge', task.priority) %>">
          <%= task_priority('text', task.priority) %>
        </span>
      </li>                                
  <% end %>
<% else %>
  <li class="list-group-item d-flex justify-content-between align-items-center text-muted">
      You do not have a task yet.
  </li>
<% end %>
