<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">

          <h1 class="display-4 mb-4">Edit Task</h1>

          <%= simple_form_for @task, url: update_path(@task.id), method: "put" do |f| %>
            <%= f.input :name %>
            <%= f.input :priority, collection: [['Critical', 1], ['High', 2], ['Medium', 3], ['Low', 4]] %>
            <%= f.input :due %>
            <%= f.input :completed %>
            <%= f.button :submit, class: "btn btn-primary" %>
          <% end %>

        </div>
    </div>
</div>
